# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
powerenv/
.env/
*.env

# Django specific
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Static files (collected)


# Environment files
.env